<a href="https://colab.research.google.com/github/Berlinzm/Talento-TECH/blob/main/TP3/Regresion_lineal_multiple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
value_y = [78.5,74.3,104.3,87.6,95.9,109.2,102.7,72.5,93.1,115.9,83.8,113.3,109.4 ]
value_x1 = [7,1,11,11,7,11,3,1,2,21,1,11,10]
value_x2 = [26,29,56,31,52,55,71,31,54,47,40,66,68]
value_x3 = [6,15,8,8,6,9,17,22,18,4,23,9,8]
value_x4 = [60,52,20,47,33,22,6,44,22,26,34,12,12]


data_dict = {'x1': value_x1,'x2': value_x2, 'x3': value_x3,'x4': value_x4, 'y': value_y}
df = pd.DataFrame(data_dict)

print(df)

    x1  x2  x3  x4      y
0    7  26   6  60   78.5
1    1  29  15  52   74.3
2   11  56   8  20  104.3
3   11  31   8  47   87.6
4    7  52   6  33   95.9
5   11  55   9  22  109.2
6    3  71  17   6  102.7
7    1  31  22  44   72.5
8    2  54  18  22   93.1
9   21  47   4  26  115.9
10   1  40  23  34   83.8
11  11  66   9  12  113.3
12  10  68   8  12  109.4

In [ ]:
print("DataFrame original:")
print(df)

df_transpuesto = df.T

print("\nDataFrame traspuesto:")
print(df_transpuesto)

DataFrame original:
    x1  x2  x3  x4      y
0    7  26   6  60   78.5
1    1  29  15  52   74.3
2   11  56   8  20  104.3
3   11  31   8  47   87.6
4    7  52   6  33   95.9
5   11  55   9  22  109.2
6    3  71  17   6  102.7
7    1  31  22  44   72.5
8    2  54  18  22   93.1
9   21  47   4  26  115.9
10   1  40  23  34   83.8
11  11  66   9  12  113.3
12  10  68   8  12  109.4

DataFrame traspuesto:
      0     1      2     3     4      5      6     7     8      9     10  \
x1   7.0   1.0   11.0  11.0   7.0   11.0    3.0   1.0   2.0   21.0   1.0
x2  26.0  29.0   56.0  31.0  52.0   55.0   71.0  31.0  54.0   47.0  40.0
x3   6.0  15.0    8.0   8.0   6.0    9.0   17.0  22.0  18.0    4.0  23.0
x4  60.0  52.0   20.0  47.0  33.0   22.0    6.0  44.0  22.0   26.0  34.0
y   78.5  74.3  104.3  87.6  95.9  109.2  102.7  72.5  93.1  115.9  83.8

       11     12
x1   11.0   10.0
x2   66.0   68.0
x3    9.0    8.0
x4   12.0   12.0
y   113.3  109.4

In [ ]:
lists_of_lists = df.values.tolist()
lists_of_lists

[[7.0, 26.0, 6.0, 60.0, 78.5],
 [1.0, 29.0, 15.0, 52.0, 74.3],
 [11.0, 56.0, 8.0, 20.0, 104.3],
 [11.0, 31.0, 8.0, 47.0, 87.6],
 [7.0, 52.0, 6.0, 33.0, 95.9],
 [11.0, 55.0, 9.0, 22.0, 109.2],
 [3.0, 71.0, 17.0, 6.0, 102.7],
 [1.0, 31.0, 22.0, 44.0, 72.5],
 [2.0, 54.0, 18.0, 22.0, 93.1],
 [21.0, 47.0, 4.0, 26.0, 115.9],
 [1.0, 40.0, 23.0, 34.0, 83.8],
 [11.0, 66.0, 9.0, 12.0, 113.3],
 [10.0, 68.0, 8.0, 12.0, 109.4]]

In [ ]:
lists_y =df ["y"].tolist ()
list_x1= df ["x1"].tolist ()
list_x2= df ["x2"].tolist ()
list_x3= df ["x3"].tolist ()
list_x4= df ["x4"].tolist ()